## EDA tabela_tratada_real

In [1]:
import pandas as pd

In [8]:
try:
    import google.colab
    IN_COLAB = True      
except:
    IN_COLAB = False

if IN_COLAB:
    from google.colab import drive
    drive.mount('/content/drive')
    endereco_drive = '/content/drive/MyDrive/'
    df=pd.read_excel(endereco_drive+'tabela_tratada_real.xlsx', sep=",")
else:    
    df = pd.read_excel('dados/tabela_tratada_real.xlsx')

In [9]:
df

,material,reorder_point,max_inventory,unit_price,inventory,lead_time,item_id,min_service_level
0,322,19.0,19.00,31.13,19.5,58.909091,2100322,0.85
1,395,237.0,332.36,11.63,196.0,36.818182,2100395,0.85
2,2598,1.0,25.00,2.21,30.0,14.000000,21002598,0.85
3,2865,1.0,20.00,3.80,21.0,34.000000,21002865,0.85
4,2883,1.0,2.00,11.44,21.0,76.000000,21002883,0.85
...,...,...,...,...,...,...,...,...
248,25378116,40.0,51.00,32.47,57.0,108.000000,210025378116,0.85
249,27086253,6.0,12.00,231.60,15.0,42.250000,210027086253,0.85
250,27094520,40.0,40.00,443.01,27.0,31.705882,210027094520,0.85
251,27106393,9000.0,9000.00,0.73,12000.0,36.000000,210027106393,0.85
252,27116747,300.0,500.00,41.79,775.0,36.300000,210027116747,0.85

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   material           253 non-null    int64
 1   reorder_point      253 non-null    float64
 2   max_inventory      253 non-null    float64
 3   unit_price         253 non-null    float64
 4   inventory          253 non-null    float64
 5   lead_time          253 non-null    float64
 6   item_id            253 non-null    int64
 7   min_service_level  253 non-null    float64
dtypes: float64(6), int64(2)
memory usage: 15.9 KB

In [11]:
print(f'O dataset tem {df.shape[0]} linhas e {df.shape[1]} colunas')

O dataset tem 253 linhas e 8 colunas